.sideNav {
  width: 365px;
  overflow: hidden;
  transition: transform 0.5s ease-out;
  position: relative;
  min-height: 100vh;
}
.collapsedSideNav {
  min-width: 0;
  transform: translateX(-90%);
  overflow: hidden;
  transition: transform 0.5s ease-out;
  position: relative;
}
.dashboardSideNav {
  padding: 30px 15px;
  background-color: var(--card-bg-clr);
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  transition: width 0.5s ease-out;
}
.dashLogoContainer {
  position: relative;
  display: flex;
  gap: 1rem;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
}
.expandArrow {
  position: absolute;
  right: 0;
  top: 40px;
  font-size: 40px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}
.rotateExpandArrow {
  transform: rotate(180deg);
  position: absolute;
  right: -10px;
  top: 40px;
  font-size: 40px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.sideBarItem {
  text-decoration: none;
  display: flex;
  gap: 1rem;
  margin: 35px 0;
  font-size: 19px;
  font-weight: 500;
  align-items: center;
  color: white;
  width: 100%;
  padding: 1rem 2rem;
  transition: background-color 0.2s ease-in-out;
}
.sideBarItem:hover {
  cursor: pointer;
  background-color: #4e4e4e;
}
.sideBarItemArrow {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
.rotateSideBarItemArrow {
  transform: rotate(90deg);
  transition: transform 0.3s;
}
.sideBarSubItem {
  text-decoration: none;
  color: white;
}

.navItemsWrapper {
  display: flex;
  flex-direction: column;
}

.activeSideItem {
  color: red;
  text-decoration: none;
  font-weight: 500;
}
