.backgroundImage {
  width: 100%;
  height: 700px;
  position: relative;
  background-image: url("../../assets/images/contactus/contactUsHero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* @media (max-width: 700px) {
    .servicesHeroImage{
        height: 400px;
    }
    .servicesHeroTextContainer{
        font-size: 2.5em;
    }
} */

.title {
  color: #ffffff;
  display: block;
  right: 10%;
  display: flex;
  flex-direction: column;
  font-size: 3em;
}
.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 50%;
  left: 70vw;
  top: 30%;
}

.spann {
  font-weight: 800;
  text-transform: uppercase;
  color: #dc0000;
}

.paragraph {
  font-weight: bold;
  width: 53%;
}

@media screen and (max-width: 1200px) {
  .backgroundImage {
    width: 100%;
    height: 700px;
    background-image: url("../../assets/images/contactus/contactUsHero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    width: 19%;
    height: 40%;
  }

  .title {
    font-weight: 800;
    font-size: 3em;
    text-transform: uppercase;
    color: #ffffff;
    width: 170%;
  }

  .spann {
    font-weight: 800;
    text-transform: uppercase;
    color: #dc0000;
  }

  .paragraph {
    display: flex;
    flex-direction: column;
    width: 110%;
    font-weight: bold;
  }
}

@media screen and (max-width: 750px) {
  .backgroundImage {
    width: 100%;
    height: 700px;

    background-image: url("../../assets/images/contactus/contactUsHero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    /* margin-right: 5rem; */
    width: 26%;
    top: 33%;
    left: 32%;
  }

  .title {
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    color: #ffffff;
    width: 170%;
  }

  .spann {
    font-weight: 800;
    text-transform: uppercase;
    color: #dc0000;
  }

  .paragraph {
    font-weight: bold;
    width: 180px;
  }
}

@media screen and (max-width: 290px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 30%;
    top: 33%;
    left: 20%;
  }
}
