.addProductCard{
    width: 300px;
    height: 460px;
    position: relative;
}
.addButton{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: red;
    clip-path: circle(14.9% at 50% 50%);
    width: 300px;
    height: 300px;
}
.plusIcon{
    color: var(--main-bg-clr);
    width: 70px;
    height: 200px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
