/* @import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Outfit:wght@300;400&family=Saira+Stencil+One&display=swap'); */



.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #610000;

}

.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: #610000;
}

.description {
    width: 200px;
    /* height: 68px; */
}

.secondPara {
    font-style: normal;
    font-weight: 400;
    font-size: 0.88em;
    color: #FFFFFF;
    padding: 0;
}

.address {
    width: 200px;
    height: 99px;
    padding-bottom: 5%;
}

.adressh4 {
    font-size: 1.13em;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    color: #FFFFFF;
    padding-bottom: 6%;
}

.p3 {
    font-style: normal;
    font-weight: 400;
    font-size: 0.88em;
    line-height: 18px;
    color: #FFFFFF;
}

.contact {
    width: 200px;
    /* height: 99px; */
}

.phone {
    display: flex;
    flex-direction: row;
    gap: 0, 5rem;
}

.email {
    display: flex;
    flex-direction: row;
    margin: 0.2rem;
    gap: 0.5rem;
}


.span {
    color: #FFFFFF;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 0.88em;
    font-size: 14px;
    line-height: 18px;
}

.follow {
    width: 200px;
    /* height: 90px; */
}

.socialIcon {
    display: flex;
    justify-content: space-between;
    gap: 0.1rem;
}

/* .icon {
    flex-basis: calc(33.33% - 1em); 
} */
.followUs {
    font-size: 1.13em;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    color: #FFFFFF;
    padding-bottom: 6%;

}

.copyRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 166.5%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    width: 87%;
}


@media screen and (max-width: 720px) {


    .footerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }





    .firstPara,
    .firstSpan {
        font-size: 14px;
    }

    .description,
    .address,
    .contact {
        width: 50%;
    }

    .adressh4,
    .p3 {
        font-size: 14px;
    }

    .phone,
    .email {
        margin: 6px 0;
    }

    .span {
        font-size: 14px;
    }

    .follow {
        width: 50%;
        margin: 12px 0;

        .icon {
            flex-basis: calc(50% - 6px);
        }

        .followUs {
            font-size: 0.9em;

        }
    }

    .copyRight {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 276px) {


    .footerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        width: 105%;
    }

    .footer {
        width: 150%;
    }



    .firstPara,
    .firstSpan {
        font-size: 14px;
    }

    .description,
    .address,
    .contact {
        width: 50%;
    }

    .adressh4,
    .p3 {
        font-size: 14px;
    }

    .phone,
    .email {
        display: block;
        margin: 6px 0;
    }

    .span {
        font-size: 14px;
    }

    .follow {
        width: 50%;
        margin: 12px 0;

        .icon {
            flex-basis: calc(50% - 6px);
        }

        .followUs {
            font-size: 0.9em;

        }
    }

    .copyRight {
        width: 113%;
        justify-content: center;
        align-items: center;
        background-color: #610000;
    }
}