.RegimePlanContainer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content:center;
    width: 100%;
}
.RegimeplanFlex{
    width: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}
.RegimePlanHeader{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.RegimePlanHeader > h2{
    font-size: 2em;
}

@media (max-width:1100px) {
    .RegimeplanFlex{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    
}

@media (max-width:470px) {
    .RegimeplanFlex{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    
}

