@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@media screen and (min-width: 770px) {
  .heroSection {
    background-image: url("../../assets/images/PortfolioImages/portfolio-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 797px;
    display: flex;
    gap: 8rem;
    flex-direction: column;
  }
  .heroSectionTitle {
    margin-top: 10rem;
    margin-left: 7rem;
    font-size: 4.1em;
    text-transform: uppercase;
    font-family: "Outfit", sans-serif;
    width: 55%;
    height: 12.5%;
    font-weight: 400;
  }
  .fitTitle {
    color: var(--red-text-clr);
    font-weight: 400;
  }

  .portfolioStatistics {
    margin-top: 7rem;
    margin-left: 7rem;
    display: flex;
    justify-content: space-around;
    height: 14%;
  }

  .statistic {
    width: 30%;
    height: 14%;
  }

  .statisticNumber,
  .statisticDescription {
    font-size: 2.5em;
    font-weight: 400;
  }

  .statisticNumber {
    color: var(--red-text-clr);
  }

  .statisticDescription {
    text-transform: capitalize;
  }
  .portfolioStatistics div:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (max-width: 769px) {
  .heroSection {
    background-image: url("../../assets/images/PortfolioImages/portfolio-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .heroSectionTitle {
    margin-top: 8rem;
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    font-family: "Outfit", sans-serif;
    width: 55%;
    height: 12.5%;
    font-weight: 400;
    margin-left: 20%;
  }

  .fitTitle {
    color: var(--red-text-clr);
    font-weight: 400;
  }

  .portfolioStatistics {
    margin-top: 10rem;
    margin-left: 7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    width: 50%;
    height: 14%;
  }

  .statistic {
    width: 30%;
    height: 14%;
  }

  .statisticNumber,
  .statisticDescription {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin: 0;
  }

  .statisticNumber {
    color: var(--red-text-clr);
  }

  .statisticDescription {
    text-transform: capitalize;
  }
  .portfolioStatistics {
    margin: 150px auto;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 500px) {
  .portfolioStatistics {
    margin: 200px auto;
    font-size: 1rem;
  }
}
