
    .containerHero {
        margin: 0;
        position: relative;
    }

    .backgroundImage {
        width: 100%;
        height: 800px;
        background-image: url('../../assets/images/HomepageImages/coach.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .content {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        margin-right: 5rem;
        width: 13%;
        position: absolute;
        right: 50px;
    }

    .title {
        font-weight: 800;
        text-transform: uppercase;
        color: #FFFFFF;
        height: 75%;
        width: 100%;
    }

    .spann {
        font-weight: 800;
        text-transform: uppercase;
        color: #DC0000;
    }

    .button {
        text-align: center;
        color: white;
        text-decoration: none;
        background-color: #DC0000;
        margin-top: 2rem;
        height: 13%;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 600;
        border: none;
    }
@media (max-width: 720px) {
    .content{
        width: fit-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

