@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

.productsSection {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.product {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin: auto 5rem;
}

.productCard {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  height: 470px;
  border-radius: 15px;
  min-width: 250px;
}

.productBackground {
  background-color: #f0f0f0;
  height: 190px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 15px 15px 0 0;
}

.productImage {
  width: 70%;
  object-fit: cover;
}

.productDetails {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 15px 20px;
}

.productName {
  font-size: 1em;
  letter-spacing: 1.1px;
  height: 15%;
  font-weight: 400;
}

.productPrice {
  font-size: 1em;
  width: fit-content;
  border: 1px solid white;
  padding: 5px;
}
.productPriceCat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-around;
}
.productButton {
  align-self: center;
  background-color: var(--red-text-clr);
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 3rem;
  font-size: 0.88rem;
  font-weight: 600;
  height: 1.88rem;
  width: 6.7rem;
  cursor: pointer;
  text-align: center;
  padding-top: 6px;
}
.productButton:nth-child(1) {
  flex-basis: 40%;
  background-color: white;
  color: black;
}

.productButton:nth-child(2) {
  flex-basis: 40%;
}

/* @media screen and (max-width: 769px) {

    .productsSection {
        height: 50%;
        width: 90%;
    }

    .productsTitle {
        font-size: 3em;
    }

    .product {
        display: flex;
        flex-wrap: wrap;
        
        gap: 2.5rem;
        width: 100%;
        height: 100%;
    }

    .productCard {
        width: 20%;
        height: 40%;
        background-color: #222222;
        border-radius: 12px;
    }

    .productBackground {
        background-color: #FFF;
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: inherit;
    }

    .productImage {
        height: 100%;
        width: 50%;
    }

    .productDetails {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: auto;
        width: auto;
    }

    .productName {
        font-size: 1.13em;
        margin-top: 1rem;
        text-transform: uppercase;
    }

    .productPrice {
        color: #F20505;
        font-size: 1.25em;
    }

    .productName, .productPrice {
        font-family: 'Outfit', sans-serif;
        font-weight: 600;
        width: 60%;
        height: 17%;
        margin-left: 1rem;
    }

    .productButton {
        align-self: flex-end;
        margin-right: 1rem;
        margin-bottom: 0.8rem;
        background-color: var(--red-text-clr);
        border: none;
        border-radius: 3rem;
        font-size: 0.6rem;
        font-weight: 600;
        height: 1.88rem;
        width: 3.7rem;
        color: #ffffff;
        cursor: pointer; */
/* }
} */
