@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

.productsSection {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.product {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin: auto;
}

.productCard {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  height: 470px;
  border-radius: 15px;
  min-width: 250px;
}
.productCard:hover .productImage{
  width: 100%;
}

.productBackground {
  background-color: #f0f0f0;
  height: 190px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 15px 15px 0 0;
}

.productImage {
  width: 70%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  transition: all .3s ease-in-out;
}

.productDetails {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 15px 20px;
}

.productName {
  font-size: 1em;
  letter-spacing: 1.1px;
  font-weight: 400;
  border: none;
  background-color: transparent;
  color: white;
}

.productPrice {
  font-size: 1em;
  background-color: transparent;
  border: none;
  width: 30px;
  text-align: center;
  color: white;
}
.productPrice:focus{
  border: none;
  outline: none;
}

.productPriceBorder{
  padding: 5px;
  display: flex;
  width: 50px;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;

}
.productPriceCat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 90%;
}
.productCat {
  width: 128px;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  text-align: right;
}


.buttonsWrapper {
  display: flex;
  gap: 20px;
  width: 100%;
}
.productButton {
  background-color: var(--red-text-clr);
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  font-size: 0.88rem;
  font-weight: 600;
  height: 1.88rem;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  padding-top: 6px;
  transition: background-color .2s ease-in;
}
.productButton:hover{
  background-color: rgb(129, 9, 9)
}
.productButton:nth-child(1) {
  flex-basis: 50%;
  background-color: white;
  color: black;
}
.productButton:nth-child(1):hover{
  background-color: rgb(155, 155, 155);

}

.productButton:nth-child(2) {
  flex-basis: 50%;
}
@media (max-width: 1100px) {
  .product {
    justify-content: center;
  }
}
