.singleProductPageContainer {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productWrapper {
  width: 50%;
  background-color: var(--card-bg-clr);
  color: var(--main-text-clr);
  font-family: "Outfit", sans-serif;
  position: relative;
}

