.singleProductPageContainer {
  width: 100%;
  background-color: var(--card-bg-clr);
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.singleProductMainView{
  width: 100%;
  background-color: var(--card-bg-clr);
}

.productWrapper {
  width: 90%;
  margin: auto;
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
  color: var(--main-text-clr);
  font-family: "Outfit", sans-serif;
  position: relative;
  padding-top: 5rem ;
}

.productDetailsWrapper {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 10px;
}
.productNameCat {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.productName {
  font-size: 3em;
  font-weight: 500;
  border-left: 10px solid var(--red-text-clr);
  padding-left: 10px;
}
.productCategory {
  font-size: 2em;
  font-weight: 300;
}
.productPrice {
  font-size: 1em;
  font-weight: 400;
  width: fit-content;
  border: 1px solid white;
  padding: 5px;
}
.productDescription {
  font-size: 1.2em;
  margin-bottom: 3rem;
}
.productDescription > p{
  font-size: 17px;
}
.productShareAndReviews {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
}
.productReviewsWrapper {
  width: fit-content;
  height: fit-content;
  align-self:left;
  justify-content: flex-start;
  display: flex;
  border: 1px solid rgba(185, 185, 185, 0.541);
  align-items: center;
}
.productReviewsWrapper > p {
  padding: 10px;
  font-weight: 400;
  font-size: 1.2em;
}
.productReviewsWrapper > span {
  padding: 10px;
  font-size: 1.8em;
  border-right: 3px solid rgba(185, 185, 185, 0.541);
  background-color: #0e0e0e;
  color: var(--red-text-clr);
}
.backButton {
  color: black;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  padding: 10px;
  position: absolute;
  top: 25px;
  left: 0;
  cursor: pointer;
}
.similarProductsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin: auto;
}
.similarProducts{
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}

@media (max-width: 1420px) {
  .productDescription > p{
    font-size: 14px;
  }
  
}
@media (max-width: 1100px) {
  .productWrapper{
    flex-direction: column;
    height: 100%;
  }
  .productDetailsWrapper{
    gap: 20px;
  }
  .productImage{
    margin-bottom: 4rem;
    align-self: center;
  }
  .productName{
    font-size: 1em;
  }
  .singleProductPageContainer{
    height: 100%;
    padding: 4rem 2rem;
  }
  .backButton{
    left: 10px;
  }
  
}
@media (max-width:650px) {
  .productImage{
    width: 300px;
  }
  .productShareAndReviews{
    flex-direction: column;
    gap: 4rem;
  }
  .productDetailsWrapper{
    gap: 4rem;
  }
  .similarProductsContainer{
    align-items: center;
    gap: 20px;
  }
  .similarProducts{
    justify-content: center;
  }
}