.valueSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 6rem;
}

.ourValue {
  height: 43%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-transform: capitalize;
}

.valueTitle {
  font-size: 3rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--red-text-clr);
  text-align: center;
  font-weight: 800;
}

.valueDescription {
  font-size: 1.25em;
  text-align: center;
  width: 90%;
}

.valueVariants {
  display: flex;
  justify-content: space-between;
  height: 53%;
  width: 100%;
  gap: 0.2rem;
}

.valueVariant {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 350px;
  width: 350px;
  gap: 1rem;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 20px;
}

.variantTitle {
  text-transform: uppercase;
  font-size: 1.3em;
  font-style: italic;
  font-weight: 400;
  margin: 0;
  align-self: center;
}

.variantDescription {
  height: auto;
  font-size: 1.5em;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .valueVariant {
    width: 250px;
    height: 470px;
  }
}

@media screen and (max-width: 865px) {
  .valueSection {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 2rem;
  }

  .ourValue {
    height: 43%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-transform: capitalize;
  }

  .valueTitle {
    padding-bottom: 0.3rem;
    border-bottom: 1px solid var(--red-text-clr);
    color: var(--red-text-clr);
    width: 70%;
    font-weight: 800;
    text-align: center;
  }

  .valueDescription {
    font-size: 1.25em;
    text-align: center;
    width: 90%;
  }

  .valueVariants {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    width: 70%;
    gap: 3rem;
  }

  .valueVariant {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    gap: 1rem;
  }

  .variantImage {
    height: 30%;
    width: 30%;
  }

  .variantTitle {
    text-transform: uppercase;
    font-size: 1.5em;
    height: 20%;
    width: 80%;
    font-style: italic;
    font-weight: 400;
  }

  .variantDescription {
    height: auto;
    font-size: 1.5em;
    font-weight: 400;
  }
}
@media (max-width: 400px) {
  .valueTitle {
    font-size: 2rem;
  }
}
