.container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 35.35px;
    display: inline-flex;
  }
  
  .heading {
    color:var(--red-text-clr);
    font-size: 50.50px;
    font-weight: 800;
    word-wrap: break-word;
    border-bottom: 0.1rem solid #DC0000; 
    padding-bottom: 1rem; /*  Add padding to control space between text and line */
  }
  
  .content {
    width: 670px;
    text-align: center;
    color: white;
    font-size: 24.24px;
    font-weight: 400;
    word-wrap: break-word;
  }
  .seeMoreButton {
    background-color:var(--red-btn-clr);
    color:var(--black-text-clr);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    
  }
  
  .seeMoreButton:hover {
    background-color:var(--red-btn-clr);
  }

/* Responsive styles for the Our Story section */
@media screen  and (max-width: 720px) {
    .heading {
      font-size: 30px;
    }
    
    .content {
      font-size: 16px;
      width: 100%;
    }
    
    .seeMoreButton {
      padding: 12px 24px;
      font-size: 16px;
    }
  }
  
  
 
  
  
  
  
  