@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media screen and (min-width: 1440px) {

    .productsSection {
        height: 25vh;
        width: 80vw;
        margin: 0 auto;
    }

    .productsTitle {
        font-size: 3em;
    }

    .product {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }

    .productCard {
        width: 16vw;
        height: 40vh;
        margin-top: 1rem;
        background-color: #222222;
        border-radius: 12px;
    }

    .productBackground {
        background-color: #FFF;
        height: 20vh;
        width: inherit;
        display: flex;
        justify-content: center;
        border-radius: inherit;
    }

    .productImage {
        height: 20vh;
        width: 8vw;
    }

    .productDetails {
        display: flex;
        flex-direction: column;
        gap: 0;
        height: 20vh;
        width: inherit;
    }

    .productName {
        font-size: 1.13em;
        margin-top: 1rem;
        text-transform: uppercase;
    }

    .productPrice {
        color: #F20505;
        font-size: 1.25em;
        margin-top: 0.7rem;
    }

    .productName, .productPrice {
        font-family: 'Outfit', sans-serif;
        font-weight: 600;
        width: 12.5vw;
        height: 2vw;
        margin-left: 1rem;
    }

    .productButton {
        align-self: flex-end;
        margin-right: 1rem;
        margin-top: 2.7rem;
        background-color: var(--red-text-clr);
        border: none;
        border-radius: 3rem;
        font-size: 0.88rem;
        font-weight: 600;
        height: 1.88rem;
        width: 6.7rem;
    }
}


@media screen and (min-width: 770px) {

    .productsSection {
        height: 25vh;
        width: 80vw;
        margin: 0 auto;
    }

    .productsTitle {
        font-size: 3em;
    }

    .product {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }

    .productCard {
        width: 16vw;
        height: 40vh;
        margin-top: 1rem;
        background-color: #222222;
        border-radius: 12px;
    }

    .productBackground {
        background-color: #FFF;
        height: 20vh;
        width: inherit;
        display: flex;
        justify-content: center;
        border-radius: inherit;
    }

    .productImage {
        height: 20vh;
        width: 8vw;
    }

    .productDetails {
        display: flex;
        flex-direction: column;
        gap: 0;
        height: 20vh;
        width: inherit;
    }

    .productName {
        font-size: 1.13em;
        margin-top: 1rem;
        text-transform: uppercase;
    }

    .productPrice {
        color: #F20505;
        font-size: 1.25em;
        margin-top: 0.7rem;
    }

    .productName, .productPrice {
        font-family: 'Outfit', sans-serif;
        font-weight: 600;
        width: 12.5vw;
        height: 2vw;
        margin-left: 1rem;
    }

    .productButton {
        align-self: flex-end;
        margin-right: 1rem;
        margin-top: 2.7rem;
        background-color: var(--red-text-clr);
        border: none;
        border-radius: 3rem;
        font-size: 0.88rem;
        font-weight: 600;
        height: 1.88rem;
        width: 6.7rem;
    }
}

@media screen and (max-width: 769px) {

    .productsSection {
        height: 25vh;
        width: 80vw;
        margin: 0 auto;
    }

    .productsTitle {
        font-size: 3em;
    }

    .product {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }

    .productCard {
        width: 16vw;
        height: 40vh;
        margin-top: 1rem;
        background-color: #222222;
        border-radius: 12px;
    }

    .productBackground {
        background-color: #FFF;
        height: 20vh;
        width: inherit;
        display: flex;
        justify-content: center;
        border-radius: inherit;
    }

    .productImage {
        height: 20vh;
        width: 8vw;
    }

    .productDetails {
        display: flex;
        flex-direction: column;
        gap: 0;
        height: 20vh;
        width: inherit;
    }

    .productName {
        font-size: 1.13em;
        margin-top: 1rem;
        text-transform: uppercase;
    }

    .productPrice {
        color: #F20505;
        font-size: 1.25em;
        margin-top: 0.7rem;
    }

    .productName, .productPrice {
        font-family: 'Outfit', sans-serif;
        font-weight: 600;
        width: 12.5vw;
        height: 2vw;
        margin-left: 1rem;
    }

    .productButton {
        align-self: flex-end;
        margin-right: 1rem;
        margin-top: 2.7rem;
        background-color: var(--red-text-clr);
        border: none;
        border-radius: 3rem;
        font-size: 0.88rem;
        font-weight: 600;
        height: 1.88rem;
        width: 6.7rem;
    }
}