@import url('https://fonts.googleapis.com/css2?family=Abel&family=M+PLUS+Rounded+1c:wght@300;400;800&family=Outfit:wght@300;400&family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=M+PLUS+Rounded+1c:wght@300;400;800&family=Outfit:wght@300;400&family=Saira+Stencil+One&display=swap');

.fitnessSection {
    height: 53.6%;
    margin: auto;
}
.fitnessSection > h2 {
    text-align: center;
    color: #FF0A0A;
    font-family: Rounded Mplus 1c;
    font-style: normal;
    font-weight: 800;
    font-size: 1.875em;
    line-height: 170.9%;
    letter-spacing: 0.02em;
}
.content {
    display: flex;
    justify-content: space-between;
    gap: 7rem;
    align-items: center;
}

.content > p {
    width: 65.625%;
    height: 41.25%;
    margin-right: auto;
    font-family: Outfit;
    font-style: normal;
    font-weight: 400;
    font-size: 1.43em;
    line-height: 170.9%;
    letter-spacing: 0.02em;
    color: #FFFFFF;  
}
.image {
    max-width: 76.5%;
    max-height: 51%;
    margin-left: auto;
    padding-top: 5.3%;
    border-radius: 5%;
}